html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	background-color: #ece0d1;
	color: #3A3845;
}

* {
	box-sizing: border-box;
}

a {
	color: #269BB9;
	text-decoration: none;
}

a:hover {
	color: #0070f3;
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
