.heading2X1 {
	font-size: 2.1rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
}

.headingX1 {
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
}

.headingLg {
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 1rem 0;
}

.headingMd {
	font-size: 1.2rem;
	line-height: 1.5;
}

.borderCircle {
	border-radius: 50%;
}

.colorInherit {
	color: inherit;
}

.padding1px {
	padding-top: 1px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	margin: 0 0 1.25rem;
}

.lightText {
	color: #777;
}

.front {
	position: relative;
	z-index: 1;
}

.customShapeDividerTop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.customShapeDividerTop svg {
	position: relative;
	display: block;
	width: calc(110% + 1.3px);
	height: 165px;
	transform: rotateY(180deg);
}

.customShapeDividerTop .shapeFill {
	fill: #C69B7B;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
	.customShapeDividerTop	svg	{
		width:	calc(169%	+	1.3px);
		height:	65px;
	}
}
